<p-toast position="top-center"></p-toast>
<p-confirmDialog
  header="Atenção"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>
<app-header (newCardClickEvent)="openModalNewCard()"></app-header>

<div class="kanban__container">
  <div
    *ngFor="let list of kanbanList"
    class="col-12 md:col-4 drop-column kanban__list"
  >
    <h1>{{ list.label }}</h1>
    <div
      class="kanban__dropArea"
      pDroppable="cards"
      [pDroppableDisabled]="!list.droppable"
      (onDrop)="drop(list.value)"
    >
      <div
        *ngFor="let card of this.cardList[list.value]"
        class="card-item"
        pDraggable="cards"
        [pDraggableDisabled]="!list.draggable"
        (onDragStart)="dragStart(card)"
        (onDragEnd)="dragEnd()"
      >
        <app-kanban-card
          [card]="card"
          (editEventHandler)="editCardHandler($event)"
          (deleteEventHandler)="deleteCardHandler($event)"
        ></app-kanban-card>
      </div>
    </div>
  </div>
</div>

<app-modal-card-detail
  *ngIf="showModalCardDetail"
  [card]="cardSelected"
  [showModal]="showModalCardDetail"
  (modalActionResult)="modalCardCloseHandler($event)"
></app-modal-card-detail>
