.kanban {
  &__container {
    display: flex;
    flex-direction: row;
    min-height: 50vh;
  }
  &__list {
    background-color: #d3d3d3;
    box-shadow: 2px 0 0 0 #888, 0 2px 0 0 #888, 2px 2px 0 0 #888,
      2px 0 0 0 #888 inset, 0 2px 0 0 #888 inset;
    display: flex;
    flex-direction: column;
    h1 {
      text-align: center;
      box-shadow: 0 2px 0 0 #888;
      padding-bottom: 0.67em;
    }
  }
  &__dropArea {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
