<div class="kanban__card">
  <div class="kanban__card__title">
    <h2 class="m-0">{{ card.titulo }}</h2>
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-pencil"
      class="p-button-rounded p-button-secondary p-button-text"
      (click)="editCardHandler(card)"
    ></button>
  </div>

  <markdown [data]="card.conteudo"> </markdown>

  <div class="kanban__card__footer">
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-trash"
      class="p-button-rounded p-button-danger p-button-text"
      (click)="deleteCardHandler(card)"
    ></button>
  </div>
</div>
